body {
  font-family: "Roboto", sans-serif;
  width: 360px;
  box-sizing: border-box;
  margin: 0 auto;
  background: rgb(243, 243, 243);
}

.wrapper {
  background: white;
  padding: 0 10px;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  font-size: 16px;
  padding: 8px;
  margin: 0;
  background-color: #e7e6e3;
  list-style-type: none;
}

.first-nav {
  display: flex;
}

.first-nav h2 {
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: black;
  color: white;
}

.nav-bar a.active {
  background-color: rgb(204, 243, 229);
  color: white;
}

.nav-bar-right {
  float: right;
}

.logo {
  background-image: url("images/logo4.png");
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
}

.hero-image {
  background-image: url("https://i.ibb.co/gvrXqLV/ella-olsson-r-D3-Yrnh-Tmf0-unsplash.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector-boxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.box .select-label {
  align-items: left;
  padding: 10px, 0px;
  margin: 5px;
}

.dropdown {
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  padding: 9px;
  width: 300px;
}

#find-button {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  border-radius: 5px;
  background-color: grey;
  color: white;
  /*font-weight: bold;*/
  text-align: center;
  font-size: 18px;
  padding: 12px;
  margin-top: 10px;
}

button:hover {
  background-color: pink;
}

.recipe-heading {
  padding: 20px 0;
}

.recipe-card-container {
  display: flex;
  flex-direction: column;
}

.recipe-card {
  display: flex;
  place-items: center;
  margin: 10px 0;
  /*box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.recipe-card:hover {
  background-color: rgb(243, 241, 241);
  opacity: 0.7;
}

.recipe-text {
  padding: 15px;
}

.recipe-text p {
  color: darkgray;
}

.recipe-image {
  /*background: url("./images/3.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  min-width: 150px;
}

@media only screen and (min-width: 700px) {
  body {
    width: 1200px;
  }

  .selector-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 360px;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .select-label {
    display: flex;
    padding: 10px, 0px;
    margin: 10px;
  }
  .recipe-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .recipe-card {
    width: 300px;
    margin: 10px;
  }
  .nav-bar ul {
    align-items: flex-end;
  }
  .recipe-heading {
    padding: 20px 50px;
  }
}
